@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --h1-font-size: 56px;
    --h2-font-size: 48px;
    --h3-font-size: 32px;
    --h4-font-size: 24px;
    --h5-font-size: 18px;
    --body-font-size: 16px;

    /* Colors */

    --body-background:#fff;
    --global-font-color:#000;
    --theme-color:#cc8f4e;
    --button-radius: 6px;
    --button-color: #cc8f4e;
    --footer-text: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
}

body{
    width: 100%;
    overflow-x: clip;
    background-color: var(--body-background);
}

body,p{
    font-size: var(--body-font-size);
    color: var(--global-font-color);
}
h1,h2,h3,h4{
    font-family: 'Gelasio', serif;
    font-weight: 500 !important;
}
h5,body,p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
h1{
    font-size: var(--h1-font-size) !important;
}
h2{
    font-size: var(--h2-font-size) !important;
}
h3{
    font-size: var(--h3-font-size) !important;
}
h4{
    font-size: var(--h4-font-size) !important;
}
h5{
    font-size: var(--h5-font-size) !important;
}

svg path{
    fill: var(--theme-color);
}

.bg-theme{
    background-color: var(--theme-color);
}

.text-body{
    font-family: 'Poppins', sans-serif;
}

.container{
    padding-left: 20px;
    padding-right: 20px;
}

.nav-button{
    width: 40px;
    height: 40px;
    position: relative;
    border: 1px solid var(--global-font-color);
    border-radius: 6px;
}

.nav-button span{
    background-color: var(--global-font-color);
    height: 2px; 
    border-radius: 20px;
    width: calc(100% - 12px);
    position: absolute;
    left: 6px;
    top: 25%;
    transition: .5s ease;
}

.nav-button span:nth-child(2){
    top: 50%;
}

.nav-button span:nth-child(3){
    top: 75%;
}

header.hamburger-active .nav-button span:nth-child(1){
    transform: rotate(45deg) translate(6px, 7px);
}

header.hamburger-active .nav-button span:nth-child(2){
   transform: translateX(100%);
   opacity: 0;
}


header.hamburger-active .nav-button span:nth-child(3){
    transform: rotate(-45deg) translate(7px, -7px);
}

/* Inputs */

input,select,textarea{
    border: 1px solid var(--button-color);
    border-radius: var(--button-radius);
    padding: 10px 20px !important;
    width: 100%;
    background-color: transparent;
    color: var(--button-color) !important;
}

input::placeholder,select,textarea::placeholder{
    color: var(--button-color) !important;
    opacity: .5 !important;
}

/* Buttons */

.btn-primary,input[type="submit"]{
    border-radius: var(--button-radius);
    border:1px solid var(--button-color);
    color: var(--button-color) !important;
    font-weight: 600;
    background-color: var(--body-background)!important;
    max-height: 50px;
    cursor: pointer;
    padding: 10px 20px;
    transition: .3s ease;
}

.btn-primary:hover,input[type="submit"]:hover{
   background-color: var(--button-color) !important;
   border:1px solid var(--body-background);
   color: var(--body-background) !important;
}

/* Nav */

nav .menu_main .menu-item{
    font-family: 'Poppins', sans-serif;
}

/* Swiper */

.swiper-button-prev::after,.swiper-button-next::after{
    display: none !important;
}

.swiper-button-prev,.swiper-button-next{
    background-image: url("../svg/arrow.svg");
    background-color: var(--body-background);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;    
}
.swiper-button-prev{
    transform: rotate(180deg);
}


footer li{
    transition: .5s ease;
}
footer li:hover{
    opacity: .6;
}

footer input,select,textarea{
    border: 1px solid var(--footer-text);
    color: var(--footer-text) !important;
}

footer input::placeholder,select,textarea::placeholder{
    color: var(--footer-text) !important;
}

footer svg path{
    fill:var(--footer-text);
}

.close-btn{
    height: 40px;
    width: 40px;
    border-radius: 6px;
    border: 1px solid var(--global-font-color);
    padding: 6px;
    background-image: url('../svg/icon-close.svg') !important;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

header nav .close-btn{
    display: none;
}

@media screen and (max-width:980px){
    header nav{
      position: fixed;
      height: 100%;
      width: 100%;
      max-width: 400px;
      top: 0;
      right: 0;
      background-color: var(--body-background);
      padding: 40px;
      display: flex;
      box-shadow: 0px 0px 18px rgba(0,0,0,.2);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      z-index: 999;
      transform: translateX(100px);      
      transition: .5s ease;
    }

    header.hamburger-active nav{
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transform: translateX(0); 
    }

header nav .close-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 20;
}

    header nav ul{
        display: flex !important;
        flex-direction: column;
        align-items: flex-start !important;
        gap: 20px;
    }

    header nav ul li *{
        font-size: 24px !important;
        font-weight: 600 !important;
    }

    header nav ul li a:hover{
        text-decoration: underline;
    }
}